.main{
    margin: auto;
    width: 50%;
    padding: 10px;
    margin-top: 10px;
}
.w-10{
    width: 10%;
}
.w-90{
    width: 90%;
}
.border-box{
    border: 2px ridge;
    border-color:  #383c3c;
    border-radius: 10px 30px 10px 30px;
}
.todo-input{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.list-head{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#todo-input{
    height: 40px;
    margin: 10px;
    width: 100%;
    border-radius: 10px;
}
.text-center{
   text-align: center;
}
.add-button{
    background-color: #45b0c9;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 14px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.list-data{
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.close-button{
    background-color: #45b0c9;
    border: none;
    border-radius: 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    padding: 5px 10px;
}
.checkbox{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid #110808;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
.checkbox:checked {
    background-color: #22bdd9;
}